
.more-info{
   color:black;
   background-color: aliceblue;
   padding: 2% 5%; 
   text-decoration:none ;
   border-radius: 5px;

}
.div-container{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    transition: 0.5s;
}
.card-footer-style {
    width: 100%;
    padding: var(--bs-card-cap-padding-y) 0px !important;
    display: flex;
    justify-content: center;
}

.card-botton-style{
    display: block;
    width: 100%;
    height: 100%;
}

.cardcustom:hover .div-container{
    transition: 0.5s;
    opacity: 1;
}
.b-shadow-card:hover{box-shadow: 0 15px 29px 0 rgb(41 41 41 / 15%);}
.badg-costum{
    top: 0;
    z-index: 9;
    cursor: pointer;
    background-color:var(--maincolor3);
    color: white;
}
.badg-costum:hover{
   
    background-color: var(--maincolor3);
    color: black;
}
.badg-off{ 
     bottom: 1px;
    z-index: 9;
    left: 0;
    color: var(--maincolor3) !important;;
    padding: 6px;
    background-color: white !important;
    border-radius: 5px;
}
.price-container{
    background: #f4f4f4;
    text-align: center;
    border-radius: 0 0 50px 50px;
    box-shadow: 0 10px 4px -9px #00000025;
}