.container{
    background-image: url();
    background-repeat: no-repeat;
    background-size: 100% 100%;
   

}
.btn{
    background-color: var(--maincolor3);
    color: white;
    cursor: pointer;
    padding: 0.2em 0.6em;
    text-decoration: none;
    border-radius: 5px;
    border:none
}
.border-bottom{
    border-bottom: 3px solid var(--maincolor3);
}