.toast-custom{
    position: fixed;
    bottom: 0vh;
    color:white !important;
    z-index: 999;
}
.btn-toast-custom{   
     position: relative;
    bottom: 7px;
   
}
.btn-toast-custom:focus{
    box-shadow: none !important;
}