.img-header{
    padding: 8% 8%;
    border: 2px solid #f1f1f1;
    border-radius: 50%;
    text-align: center;
    border-color:var(--maincolor3);
}
.basket{    
        position: absolute;
        left: 0;
        width: 320px;
        height: 44vh;
        z-index: 999;
       padding: 25px 14px;
        background: #fff;
        top: 197px;
        overflow-y: scroll;
        box-shadow: 0 1px 1px rgb(0 0 0 / 14%), 0 4px 8px rgb(0 0 0 / 30%);
        border-radius: 4px;
      }
.shoping-icon{
        background-color: var(--maincolor3);
        color: white;
        border-radius: 5px;
        padding: 6px;
}
.f-color-white{
        color: white;
}


.row-basket{
        border-bottom: 1px solid gainsboro;
        align-items: center;
        margin-top: 10px;
}       
/**animation heartbeat*/
.animate:hover {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}
.a-login{
        background-color: var(--maincolor3);
        color: white;
        cursor: pointer;
        padding: 0.2em 0.6em;
        text-decoration: none;
        border-radius: 5px;
}

.btn-custom:focus{
        border-radius: none !important;
        box-shadow: none !important;
}
  @keyframes heartbeat {
    from {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-transform-origin: center center;
              transform-origin: center center;
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    10% {
      -webkit-transform: scale(0.91);
              transform: scale(0.91);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    17% {
      -webkit-transform: scale(0.98);
              transform: scale(0.98);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
    33% {
      -webkit-transform: scale(0.87);
              transform: scale(0.87);
      -webkit-animation-timing-function: ease-in;
              animation-timing-function: ease-in;
    }
    45% {
      -webkit-transform: scale(1);
              transform: scale(1);
      -webkit-animation-timing-function: ease-out;
              animation-timing-function: ease-out;
    }
  }
.input-custom{
        border-top-right-radius: 5px !important;
        border-bottom-right-radius: 5px !important;
        border-color:var(--maincolor3) !important;
}
.btn-custom{
        margin-left: -1px;
        border-top-left-radius: 5px !important;
        border-bottom-left-radius: 5px !important;
        background-color: var(--maincolor3) !important ;
        color:white !important}

.btn-custom:hover{
        background-color:  white !important;
        color:var(--maincolor3)  !important;
        border-color:var(--maincolor3) !important;
} 

     

.input-custom:focus {
        color: #212529;
        background-color: #fff;
        border-color:var(--maincolor3) !important;
        outline: 0;
        box-shadow: 0 0 0 0.08rem var(--maincolor3) !important;
         }
         .input-custom::placeholder{
                color: var(--maincolor3) !important;
                opacity: 1
         }
         .basket-a{ 
                cursor: pointer;
                color: #fff;
                background-color: var(--maincolor3);
                min-width: 160px;
                padding: 11px 11px;
                font-size: 1rem;
                font-weight: 500;
                line-height: 1.5;
                text-decoration: none;
            }