.footer-container{
    background-image:url(./footer-back.jpg) ;
    background-size: 100% 100%;
    margin-top: 20px;
    background-position: top;
    background-repeat: no-repeat;
}
.social-icon{
    font-size: 1.5rem !important;
    border-radius: 50% !important;
	cursor: pointer;
	transition: 1s;
}
.twitter,.telegram{
	color:#0e8ed4 !important;
    
    
}
.twitter:hover,.telegram:hover{
	background-color: #0e8ed4;
	color:white !important;
	transition: 1s
}

.whatsapp{
	color:#25d366;
}
.whatsapp:hover{
	color:white;
	background-color:#25d366 ;
	transition: 1s
}
.instagram{
	color:black;
}
.instagram:hover{
	color:white;
	background: radial-gradient(circle farthest-corner at 35% 100%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 10% 140%, #feda7e, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e42e66 50%, #fa5332 70%, #ffdc80 100%);
	transition: 1s;
}
.envelope:hover{
	color:white;
	background-color: #96a2a8;transition: 1s;
}