
@font-face {
  font-family: 'vazir';
  font-display:swap;
	src: url("./fonts/Vazir.eot")format('embeded-opentype'),
    url("./fonts/Vazir.ttf")format('truetype'),
    url("./fonts/Vazir.woff")format('woff'),
    url("./fonts/Vazir.woff2")format('woff2');
}
*{direction: rtl;font-family: 'vazir';--maincolor1:#ae0b4f;--maincolor2:midnightblue;--maincolor3:darkorange;scroll-behavior: smooth}
.maincolor1{background-color: var(--maincolor1) !important;}
.maincolor2{background-color: var(--maincolor2) !important ;}
.maincolor3{background-color: var(--maincolor3) !important ;}
.fs-8 {
  font-size: 0.8rem!important;
}
