
@font-face {
  font-family: 'vazir';
  font-display:swap;
	src: url("./fonts/Vazir.eot")format('embeded-opentype'),
    url("./fonts/Vazir.ttf")format('truetype'),
    url("./fonts/Vazir.woff")format('woff'),
    url("./fonts/Vazir.woff2")format('woff2');
}
*{direction: rtl;font-family: 'vazir';--maincolor1:#ae0b4f;--maincolor2:midnightblue;--maincolor3:#9370DB;scroll-behavior: smooth}
.maincolor1{background-color: var(--maincolor1) !important;}
.maincolor2{background-color: var(--maincolor2) !important ;}
.maincolor3{background-color: var(--maincolor3) !important ;}

.fColor3{color:var(--maincolor3) !important}
.fs-8 {
  font-size: 0.8rem!important;
}
.fs-13{font-size: 13px;}  
.width-auto{width: auto !important;}
.width-fit-content{width: fit-content !important;}
.transform-scale:hover{
  transform: scale(1.5);
  transition: 1s;
}

.check-box-color{
  accent-color: #9b59b6
}

.width-50{width: 50%;}


.back-light{
  background-color: white;
  color:black
}
.back-dark{
   background-color: black;
   color:white
}

@media (max-width: 992px){
  .width-50{width: 100%;}
}

.Typewriter>span{font-size: 1.9rem;}
.success{
  border:1px solid green !important
}
.error{
  border:1px solid var(--maincolor3) !important
}
input[type="email"]:-moz-placeholder {
  text-align: right;
}
input[type="email"]:-ms-input-placeholder {
  text-align: right;
}
input[type="email"]::-webkit-input-placeholder {
  text-align: right;
}
.bg-black{
background-color: black;
color:white}
.bg-white{
background-color: white;
color: black;
}
.direction-ltr{
direction: ltr;
}
.form-select{
  background-position: left 0.75rem center !important;
  border:1px solid var(--maincolor3) !important;
}
.form-select:focus {
  
  outline: 0;
   box-shadow: 0 0 0 0.25rem var(--maincolor3) !important; 
}
.pagination{
  width: fit-content !important
}
.breadcrumb-item+.breadcrumb-item::before {
  float: right !important;
 
}